@import url('https://fonts.googleapis.com/css?family=Russo+One');
$darkAccent: #224a4b;
$lightAccent: #2cda9d;
$backgroundBase: #619e9e;

$shadow: 1px 1px 10px 2px darken($backgroundBase, 20%);
$default-border: 1px solid darken($backgroundBase, 35%);

* {
  box-sizing: border-box;
}

.App {
  padding-top: 10px;
  background-color: lighten($backgroundBase, 30%);
}
// .colorScheme {
//   background-color: lighten($backgroundBase, 30%);
//   border: $default-border;
//   box-shadow: $shadow;
//   border-top: none;
// }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lighten($darkAccent, 10%);
  padding: 0.3rem;
  border: $default-border;
  box-shadow: $shadow;
  font-family: Russo One;
  font-size: 1rem;
  color: lighten($backgroundBase, 35%);
  .fa-arrows-alt,
  .fa-compress {
    margin-left: auto;
  }
}

textarea {
      width: 100%;
      height: 70vh;
      margin-bottom: -5px;
      resize: vertical;
      outline: none;
      padding: 20px;
      font-size: 0.875rem;
      border: $default-border;
      box-shadow: $shadow;
      background-color: lighten($lightAccent, 40%);
}

.prev {
  resize: vertical;
  outline: none;
  border: 1px solid black;
  padding: 20px;
  border: $default-border;
  box-shadow: $shadow;
  background-color: lighten($lightAccent, 40%);
}

.m-header {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.anc {
  color: darken($lightAccent, 30%);
  text-decoration: none;
  font-family: 'Lobster Two', cursive;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}


@media screen and (max-width: 420px) {
  body {
    font-size: 0.875rem;
  }
}

